@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

* {font-family: "Arimo", sans-serif;}

body {
    background-color: #FAF7F0 !important;
}
/* btn */
.btn-view {
    background-color: #B17457;
    padding: 1rem;
    text-decoration: none;
    color: #FAF7F0;
    cursor: pointer;
    max-width: 5rem;
    border: #4A4947 1px solid;
    box-shadow: 6px 6px 0px 0px rgba(74, 73, 71, 1);
}
.btn-view:hover {
    background-color: #D8D2C2;
    color: #4A4947;
    border: #4A4947 1px solid;
}

#about, #product, #testimoni, #faq, #contact{
    padding: 4rem 0 0 0;
}

.section-title {
    font-weight: 900;
    color: #4A4947;
    width: fit-content;
    padding-bottom: 3px;
}

.section-desc {
    font-weight: 400;
    font-style: italic;
    color: #4A4947;
    opacity: 50%;
}

.wrapper{
    display: flex;
    align-items: center;
    flex-direction: row;
    
}

/* home */
#home {
    background-color: #D8D2C2;
    height: 100vh;
}

.navbar-nav .nav-link:hover {
    border-bottom: #4A4947 1px solid;
}

.title {
    font-size: 5rem;
    line-height: 5rem;
}

/* about */

.octa {
    padding: 1rem;
    background-color: #4A4947;
    box-shadow: 6px 6px 0px 0px #B17457;
}

.bw {
    filter: saturate(0);
}
.bw:hover {
    animation: zoom .3s forwards;
}

@keyframes zoom {
    
    100% {
        filter: saturate(1)
    }
}

.octa-desc {
    color: #4A4947;
    opacity: 50%;
}

/* produk */
.card {
    border-radius: 0 !important;
    border: none !important;
    background-color: #FAF7F0 !important;
}

.card-title {
    border-bottom: #B17457 3px solid;
    font-weight: bold;
    padding-bottom: .2rem;
}

.card-text {
    padding: .5rem 0;
}

.bbadge {
    background-color: #B17457;
    color: #FAF7F0 !important;
    width: fit-content;
    padding: .3rem;
    box-shadow: 6px 6px 0px 0px rgba(74, 73, 71, 1);
}

swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center; /* Tambahkan align-items untuk menjaga kesejajaran vertikal */
  }
  
  swiper-container::part(container) {
    overflow: hidden;
    border: #D8D2C2 1px solid;
    padding: .5rem;
    width: auto;
    height: auto;
    box-shadow: 6px 6px 0px 0px rgba(74, 73, 71, 1);
  }
  
  swiper-slide img {
    width: 100%; /* Sesuaikan dengan lebar kontainer */
    height: 100%; /* Sesuaikan dengan tinggi kontainer */
    object-fit: contain; /* Pastikan gambar menjaga rasio aspek */
  }
  

/* testimoni */

.testimoni-card {
    display: flex;
    border: #D8D2C2 1px solid;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    box-shadow: 6px 6px 0px 0px rgba(74, 73, 71, 1);
}
.testimoni-card .avatar{
    border-radius: 100%;
    max-width:100%;
    height:auto
}

.bi {
    color: #B17457;
}

.text {
    font-style: italic;
}

/* faq */
.accordion, .contact {
    border: #D8D2C2 1px solid !important;
    box-shadow: 6px 6px 0px 0px rgba(74, 73, 71, 1) !important;
}

.accordion-button {
    background-color: #FAF7F0 !important;
}

.accordion-item {
    background-color: #d8d2c258 !important;
}
.contact-title {
    border-bottom: #B17457 6px solid;
}
/*contact us*/


/* footer */
footer {
    background-color: #D8D2C2 !important;
    padding: 2rem !important;
    margin-top: 4rem;
}

.ico-footer {
    padding: .2rem;
    font-size: 1.5rem;
    cursor: pointer;
    font-style: normal;
}

.ico-footer:hover{
    color: #4a4947;
}

/*  media query */

@media (max-width: 576px) {
    .box-title, .bbadge {
        text-align: center;
    }
    .section-desc {
        display: none;
    }
    .section-title {
        border-bottom: #B17457 6px solid;
    }
    .octa-desc, .card-text {
        text-align: justify;
        text-justify: none;
        
    }
}

@media (max-width: 768px) {
    .banner {
        text-align: center;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    #product .card {
        margin: 0 auto;
    }
}

@media (min-width: 993px) {
    #product .row .col-12:nth-child(1) .card,
    #product .row .col-12:nth-child(3) .card {
        margin-right: auto;
    }

    #product .row .col-12:nth-child(2) .card {
        margin-left: auto;
    }
}


/* color palette */
.color1 { color: #FAF7F0; }
.color2 { color: #D8D2C2; }
.color3 { color: #B17457; }
.color4 { color: #4A4947; }

.bg-color1 { background-color: #FAF7F0; }
.bg-color2 { background-color: #D8D2C2; }
.bg-color3 { background-color: #B17457; }
.bg-color4 { background-color: #4A4947; }

.h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    color: #4A4947;
}